.navbar-default, .btn, .form-control, .panel {
	border-radius: 0;
}
.navbar-default {
    background-color: #69ffc3;
    border-color: #69ffc3;
    box-shadow: 0px 3px 3px 0px #ddd;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #69ffc3;
    border-bottom: 4px solid #ddd;
}
.panel-default > .panel-heading {
    color: #000000;
    background-color: #69ffc3;
    border-color: #69ffc3;
    border-top-left-radius: 0;
	border-top-right-radius: 0; 
}
.panel-footer {
	background-color: #69ffc3;
    border-color: #69ffc3;
}
.panel {
	box-shadow: 0px 3px 3px 0px #ddd;
}
a.navbar-brand, .panel-title {
	font-weight: bolder;
}
a.navbar-brand{
    color: #000000
}